.page-content { background: $white; }

.page-top-banner-wrap {
    position: relative;
    display: flex;
    align-items: center;
}

.page-top-banner-content {
    position: absolute;
    left: 10%;
    color: $white;
}

.page-top-banner-content span:not(.br) { font-size: 16px; }

.page-top-banner-content > h1 {
    margin-bottom: 25px;
    font-size: 22px;
    line-height: .7;
}

.intro-container {
    padding: 30px 0;
    margin-bottom: 40px;
    text-align: center;
}

.main-container {
    padding: 20px 0;
}

@media(min-width: 540px) {
    .page-top-banner-content > h1 { font-size: 26px; }
}

@media(min-width: 768px) {
    .page-top-banner-content > h1 { font-size: 30px; }
    .main-container {
        padding: 35px 0;
    }
}

@media(min-width: 1024px) {
    .page-top-banner-content > h1 { font-size: 34px; }
    .main-container {
        padding: 50px 0;
    }
}

@media(min-width: 1350px) {
    .page-top-banner-content > h1 { font-size: 38px; }
}

.row { margin-bottom: 0; }

.center-content {
    display: flex;
    justify-content: center;
}

.card .card-content .card-title {
    display: block;
    line-height: 1.2;
    margin-bottom: 15px;
}

.event-card-link {
    margin-right: 15px;
    font-size: 12px;
}

.event-card-info {
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}

@media(min-width: 485px) {
    .event-card-info { margin-top: 0; }
}

.event-card-info > i { color: #70AFC6; }

.card-att-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card-image {
    position: relative;
}

.card-date {
    position: absolute;
    bottom: 7px;
    right: 7px;
    font-size: 12px;
    background: #70AFC6;
    color: $white;
}

.card .card-content {
    padding-bottom: 0;
}

.login {
    display: flex;
}

.login > i {
    margin-left: 5px;
    color: #1c6379;
}

.event-social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.event-social > a {
    padding: 10px;
}

.social-icons {
    fill: #212121;
}

.modal .close-btn-x {
  position: absolute;
  top: 12px;
  right: 25px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.card-see-event {
  position: absolute;
  bottom: 7px;
  left: 7px;
  font-size: 12px;
  background: #70AFC6;
  color: #fff;
}

.card-see-event a {
  color: #fff;
}

.event-map {
  margin-top: 20px;
}

.body-preloader-active {
  overflow: hidden;
}

#preloader {
  position: absolute;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2f87a2;
  transition: top 700ms ease-in-out;
}

#preload-logo {
  margin: 0 auto;
  display: block;
  width: 400px;
  height: 400px;
}

.preload-agora {
  margin-top: 40px;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 64px;
  font-weight: bold;
}

.preload-phrase {
  display: block;
  font-size: 32px;
  font-style: italic;
  text-align: center;
  color: #fff;
}
