/********************************
*********************************
*
* Cookie besked
*
*********************************
********************************/
.cookie {
    position: fixed;
    z-index: 9999;
    right: 0;
    bottom: 0;
    left: 0;
    background: #444d55;
    color: #fff;
}

.cookie-link {
    color: #FF5722;
}

.cookie-content {
    display: flex;
    align-items: center;
}

.close-cookie {
    background: #FF5722;
    border: 0;
    height: 40px;
    margin-left: 50px;
}

@media(min-width: 560px) {
    .cookie {
        height: 95px;
    }
}

.hide-cookie { display: none; }
